<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="sender" value="01029953874">
        <input type="text" name="receiver">
        <input type="text" name="text">
        <select name="type" id="type">
            <option value="sms">sms</option>
            <option value="lms">lms</option>
        </select>
        <button type="submit">SEND</button>
    </form>



</body>
</html>